<div class="container">
  <div class="row">
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="page_form">Strona:</label>
          <input class="form-control" min="1" type="number" id="page_form" name="pageOffset" required [(ngModel)]=pageOffset>
        </div>
        <div class="form-group col-md-6">
          <label for="size_input">Liczba elementów na stronie:</label>
          <input class="form-control" min="1" id="size_input" type="number" name="pageSize" required [(ngModel)]=pageSize>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Początkowa data publikacji:</label>
          <input class="form-control" type="date" data-date-format="YYYY-MM-DD" name="startDate" required [(ngModel)]=startDateStr>
        </div>
        <div class="form-group col-md-6">
          <label>Końcowa data publikacji:</label>
          <input class="form-control" type="date" data-date-format="YYYY-MM-DD" name="endDate" required [(ngModel)]=endDateStr>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Minimalna wartość szacunkowa:</label>
          <input class="form-control" min="1" type="number" name="minEstimatedPrice" required [(ngModel)]=minEstimatedPrice>
        </div>
        <div class="form-group col-md-6">
          <label>Maksymalna wartość szacunkowa:</label>
          <input class="form-control" min="1" type="number" name="maxEstimatedPrice" required [(ngModel)]=maxEstimatedPrice>
        </div>
      </div>


      <label>Województwo:</label>
      <select class="form-control" name=voivodeship required [(ngModel)]=voivodeship>
        <option label=" "></option>
        <option value=1>dolnośląskie</option>
        <option value=2>kujawsko-pomorskie</option>
        <option value=3>lubelskie</option>
        <option value=4>lubuskie</option>
        <option value=5>łódzkie</option>
        <option value=6>małopolskie</option>
        <option value=7>mazowieckie</option>
        <option value=8>opolskie</option>
        <option value=9>podkarpackie</option>
        <option value=10>podlaskie</option>
        <option value=11>pomorskie</option>
        <option value=12>śląskie</option>
        <option value=13>świętokrzyskie</option>
        <option value=14>warmińsko</option>
        <option value=15>wielkopolskie</option>
        <option value=16>zachodniopomorskie</option>
      </select>

      
      <div class="form-row">
        <div class="form-group col-md-6">

          <label>Rodzaj zamówienia:</label>
          <select class="form-control" name="orderKind" required [(ngModel)]=orderKind>
            <option label=" "></option>
            <option value=1>Roboty budowlane</option>
            <option value=2>Usługi</option>
            <option value=3>Dostawy</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label>Typ dokumentu:</label>
          <select class="form-control" name="orderType" required [(ngModel)]=orderType>
            <option label=" "></option>
            <option value=1>Ogłoszenie o zamówieniu</option>
            <option value=2>Uproszczone ogłoszenie</option>
            <option value=3>Ogłoszenie o udzieleniu zamówienia</option>
            <option value=4>Ogłoszenie konkursu</option>
            <option value=5>Ogłoszenie wyników konkursu</option>
            <option value=6>Zmiana ogłoszenia</option>
            <option value=7>Zamiar zawarcia umowy</option>
          </select>
        </div>
      </div>

      <input class="btn btn-primary" type="submit" (click)="onClickForm()" value="Zatwierdź">
    </form>
  </div>

  <p *ngIf="pageOffset>1"><span class="glyphicon glyphicon-arrow-left"></span></p>
  <p (click)="onClickNext()"><span class="glyphicon glyphicon-arrow-right"></span></p>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <p class="page-link" href="" aria-label="Previous" (click)="onClickPrevious()" *ngIf="pageOffset>1">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </p>
      </li>
      <li class="page-item">
        <p class="page-link" href="" aria-label="Next" (click)="onClickNext()">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </p>
      </li>
    </ul>
  </nav>

  <table class="table table-striped">
    <tbody>
      <ng-container *ngFor="let order of simplifiedOrders">
        <app-order-item [simplifiedOrder]="order"></app-order-item>
      </ng-container>
    </tbody>

  </table>


  <p *ngIf="pageOffset>1"><span class="glyphicon glyphicon-arrow-left"></span></p>
  <p (click)="onClickNext()"><span class="glyphicon glyphicon-arrow-right"></span></p>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <p class="page-link" href="" aria-label="Previous" (click)="onClickPrevious()" *ngIf="pageOffset>1">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </p>
      </li>
      <li class="page-item">
        <p class="page-link" href="" aria-label="Next" (click)="onClickNext()">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </p>
      </li>
    </ul>
  </nav>
</div>
