<tr  style="background-color: #F5F5F5"   *ngIf="simplifiedOrder">
  <td class="col-1"><div *ngIf="authService.loggedIn"><mat-checkbox #checkbox (click)="onCheckboxClick(simplifiedOrder.id, checkbox.checked)"></mat-checkbox></div></td>
  <td class="col-2">{{ simplifiedOrder.data_publikacji_zamowienia }}</td>
  <td class="col-2">{{ simplifiedOrder.nazwa.substr(0,30) + '...'}}</td>
  <!-- <td class="col-3">{{ simplifiedOrder.termin }}</td> -->
  <td class="col-1">{{ simplifiedOrder['zamowienia_publiczne_tryby.nazwa'] }}</td>
  <td class="col-1">{{ simplifiedOrder['zamowienia_publiczne_typy.nazwa'] }}</td>
  <td class="col-1">{{ simplifiedOrder.wartosc_cena_max }}</td>
  <td class="col-1">{{ simplifiedOrder.wartosc_cena_min }}</td>
  <td class="col-1">{{ simplifiedOrder.wartosc_szacowana }}</td>
  <td class="col-1">{{ simplifiedOrder.rodzaje_nazwa }}</td>
  <td class="col-1"><button mat-flat-button (click)="onSelect()">Szczegóły</button></td>

</tr>
<div *ngIf=detailsDisplayed class="tab-content">
  <div id=#{{simplifiedOrder.id}}
       class="tab-pane fade in active show">

    <div class="table-responsive panel">
      <table class="table">
        <tbody>
        <tr (click)="onSelect()"><td class=text-success>Typy Nazwa</td><td>{{orderDetails['zamowienia_publiczne_typy.nazwa']}}</td></tr>
        <tr (click)="onSelect()"><td class=text-success>Tryby Nazwa</td><td>{{orderDetails['zamowienia_publiczne_tryby.nazwa']}}</td></tr>
        <tr (click)="onSelect()"><td class=text-success>Rodzaje Nazwa</td><td>{{orderDetails['zamowienia_publiczne_rodzaje.nazwa']}}</td></tr>
        <tr (click)="onSelect()"><td class=text-success>Data publikacji</td><td>{{orderDetails['zamowienia_publiczne.data_publikacji']}}</td></tr>
        <tr (click)="onSelect()"><td class=text-success>Data publikacji zamowienia</td><td>{{orderDetails['zamowienia_publiczne.data_publikacji_zamowienia']}}</td></tr>

        <!-- <tr (click)="onSelect()"><td class=text-success>Liczba_czesci</td><td>{{orderDetails['zamowienia_publiczne.liczba_czesci']}}</td></tr> -->
        <tr (click)="onSelect()"><td class=text-success>Nazwa</td><td>{{orderDetails['zamowienia_publiczne.nazwa']}}</td></tr>
        <tr (click)="onSelect()"><td class=text-success>Pozycja</td><td>{{orderDetails['zamowienia_publiczne.pozycja']}}</td></tr>
        <tr (click)="onSelect()"><td class=text-success>Przedmiot</td><td>{{orderDetails['zamowienia_publiczne.przedmiot']}}</td></tr>
        <tr (click)="onSelect()"><td class=text-success>Termin</td><td>{{orderDetails['zamowienia_publiczne.termin']}}</td></tr>
        <tr (click)="onSelect()"><td class=text-success>Wartość cena minimalna</td><td>{{orderDetails['zamowienia_publiczne.wartosc_cena_min']}}</td></tr>
        <tr (click)="onSelect()"><td class=text-success>Wartość szacowana</td><td>{{orderDetails['zamowienia_publiczne.wartosc_szacowana']}}</td></tr>
        <tr (click)="onSelect()"><td class=text-success>Wartość szacunkowa</td><td>{{orderDetails['zamowienia_publiczne.wartosc_szacunkowa']}}</td></tr>
        <tr (click)="onSelect()"><td class=text-success>Wartość cena</td><td>{{orderDetails['zamowienia_publiczne.wartosc_cena']}}</td></tr>
        <tr (click)="onSelect()"><td class=text-success>Wartość cena maksymalna</td><td>{{orderDetails['zamowienia_publiczne.wartosc_cena_max']}}</td></tr>
        <!-- <tr (click)="onSelect()"><td class=text-success>Dsz_www</td><td>{{orderDetails['zamowienia_publiczne.dsz_www']}}</td></tr> -->
        <!-- <tr (click)="onSelect()"><td class=text-success>Zaliczka</td><td>{{orderDetails['zamowienia_publiczne.zaliczka']}}</td></tr> -->
        <tr (click)="onSelect()"><td class=text-success>Wariant</td><td>{{orderDetails['zamowienia_publiczne.wariant']}}</td></tr>
        <!-- <tr (click)="onSelect()"><td class=text-success>Czas</td><td>{{orderDetails['zamowienia_publiczne.czas']}}</td></tr> -->
        <!-- <tr (click)="onSelect()"><td class=text-success>Liczba_dni</td><td>{{orderDetails['zamowienia_publiczne.liczba_dni']}}</td></tr> -->
        <!-- <tr (click)="onSelect()"><td class=text-success>Liczba_dni_oferty</td><td>{{orderDetails['zamowienia_publiczne.liczba_dni_oferty']}}</td></tr> -->
        <!-- <tr (click)="onSelect()"><td class=text-success>Uniewaznienie</td><td>{{orderDetails['zamowienia_publiczne.uniewaznienie']}}</td></tr> -->
        <!-- <tr (click)="onSelect()"><td class=text-success>Powiat_id</td><td>{{orderDetails['zamowienia_publiczne.powiat_id']}}</td></tr> -->
        <tr (click)="onSelect()"><td class=text-success>Liczba_wykonawcow</td><td>{{orderDetails['zamowienia_publiczne.liczba_wykonawcow']}}</td></tr>
        <tr (click)="onSelect()"><td class=text-success>Wykonawca_str</td><td>{{orderDetails['zamowienia_publiczne.wykonawca_str']}}</td></tr>
        <!-- <tr (click)="onSelect()"><td class=text-success>Numer_biuletynu</td><td>{{orderDetails['zamowienia_publiczne.numer_biuletynu']}}</td></tr> -->
        <tr (click)="onSelect()"><td class=text-success>Zamawiajacy_rodzaj</td><td>{{orderDetails['zamowienia_publiczne.zamawiajacy_rodzaj']}}</td></tr>
        <tr (click)="onSelect()"><td class=text-success>Zamawiajacy_nazwa</td><td>{{orderDetails['zamowienia_publiczne.zamawiajacy_nazwa']}}</td></tr>
        <tr (click)="onSelect()"><td class=text-success>Zamawiajacy_miejscowosc</td><td>{{orderDetails['zamowienia_publiczne.zamawiajacy_miejscowosc']}}</td></tr>
        <tr (click)="onSelect()"><td class=text-success>Zamawiajacy_wojewodztwo</td><td>{{orderDetails['zamowienia_publiczne.zamawiajacy_wojewodztwo']}}</td></tr>
        <tr (click)="onSelect()"><td class=text-success>Zamawiajacy_ulica</td><td>{{orderDetails['zamowienia_publiczne.zamawiajacy_ulica']}}</td></tr>
        <tr (click)="onSelect()"><td class=text-success>Zamawiajacy_nr_domu</td><td>{{orderDetails['zamowienia_publiczne.zamawiajacy_nr_domu']}}</td></tr>
        <tr (click)="onSelect()"><td class=text-success>Zamawiajacy_nr_miesz</td><td>{{orderDetails['zamowienia_publiczne.zamawiajacy_nr_miesz']}}</td></tr>
        <tr (click)="onSelect()"><td class=text-success>Zamawiajacy_rodzaj_inny</td><td>{{orderDetails['zamowienia_publiczne.zamawiajacy_rodzaj_inny']}}</td></tr>
        <tr (click)="onSelect()"><td class=text-success>Zamawiajacy_fax</td><td>{{orderDetails['zamowienia_publiczne.zamawiajacy_fax']}}</td></tr>
        <tr (click)="onSelect()"><td class=text-success>Zamawiajacy_kod_poczt</td><td>{{orderDetails['zamowienia_publiczne.zamawiajacy_kod_poczt']}}</td></tr>
        <tr (click)="onSelect()"><td class=text-success>Zamawiajacy_email</td><td>{{orderDetails['zamowienia_publiczne.zamawiajacy_email']}}</td></tr>
        <tr (click)="onSelect()"><td class=text-success>Zamawiajacy_www</td><td>{{orderDetails['zamowienia_publiczne.zamawiajacy_www']}}</td></tr>
        <tr (click)="onSelect()"><td class=text-success>Zamawiajacy_tel</td><td>{{orderDetails['zamowienia_publiczne.zamawiajacy_tel']}}</td></tr>
        <tr (click)="onSelect()"><td class=text-success>Zamawiajacy_regon</td><td>{{orderDetails['zamowienia_publiczne.zamawiajacy_regon']}}</td></tr>
        <tr (click)="onSelect()"><td class=text-success>Zamawiajacy Nazwa</td><td>{{orderDetails['zamowienia_publiczne_zamawiajacy.nazwa']}}</td></tr>

        <!-- <tr (click)="onSelect()"><td class=text-success>Zamawiajacy Kod_pocztowy_id</td><td>{{orderDetails['zamowienia_publiczne_zamawiajacy.kod_pocztowy_id']}}</td></tr> -->
        <!-- <tr (click)="onSelect()"><td class=text-success>Zamawiajacy Id</td><td>{{orderDetails['zamowienia_publiczne_zamawiajacy.id']}}</td></tr> -->
        <!-- <tr (click)="onSelect()"><td class=text-success>Tryby Id</td><td>{{orderDetails['zamowienia_publiczne_tryby.id']}}</td></tr> -->

        <!-- <tr (click)="onSelect()"><td class=text-success>Rodzaje Id</td><td>{{orderDetails['zamowienia_publiczne_rodzaje.id']}}</td></tr> -->
        </tbody>
      </table>
    </div>
  </div>
</div>

