<div class="button-row">
  <button mat-flat-button (click)="home()" >Strona główna</button>
  <button mat-flat-button (click)="orders()">Przeglądaj zamówienia</button>
  <button mat-flat-button (click)="register()" *ngIf="!authService.loggedIn">Rejestracja</button>
  <button mat-flat-button (click)="login()" *ngIf="!authService.loggedIn">Logowanie</button>
  <button mat-flat-button (click)="myOrders()" *ngIf="authService.loggedIn">Moje Zamówienia</button>
  <button mat-flat-button (click)="logout()" *ngIf="authService.loggedIn">Wyloguj</button>
</div>
